@use 'base/variables' as var;

.text-center {
    text-align: center;
}

.bg-primary {
    background-color: var.$primary;
}

.margin-negative-10 {
    margin-top: -10rem;
}

.bg-white {
    background-color: var.$white;
}

.padding-bottom-0 {
    padding-bottom: 0;
}